<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>【BookingDetails】livehouse Booking System</title>
    {% include '../common/css.html' %}
    {% include '../common/js.html' %}
</head>
<body class="productsgrid-page">
    {% include '../common/header.html' %}
    {% include '../common/banner2.html' %}
    <div class="whish-list-section section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="section-title">
                        <h3 class="title" style="bbooking-bottom:0">Personal Information Centre</h3>
                    </section>
                </div>
                {% include '../common/menu.html' %}
                <div class="col-lg-9 col-12 mb-5">
                    <div class="tab-content">
                        <div class="tab-pane fade active show">
                            <div class="myaccount-content">
                                <div class="account-details-form">
                                    <form action="" method="post">
                                        <div class="row">
                                             <div class="col-md-12" style="margin-bottom:25px">
                                                <label class="text" style="display: inline-block;font-weight: 600;">Please scan the QR code：</label>
                                                <div class="col-12">
                                                        <img style="max-width: 100%;height: 300px;width: 300px;" src="{% static 'images/qr_code.png'%}"
                                                            alt="QR code">
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-bottom:25px">
                                                <label class="text" style="display: inline-block;font-weight: 600;">Booking No：</label>
                                                {{ booking.id }}
                                            </div>
                                            <div class="col-md-6" style="margin-bottom:25px;word-wrap: break-word; word-break: break-all;">
                                                <label class="text" style="display: inline-block;font-weight: 600;">TotalPrice：</label>
                                                ￥{{ booking.total_price }}
                                            </div>
                                             <div class="col-md-6" style="margin-bottom:25px;word-wrap: break-word; word-break: break-all;">
                                                <label class="text" style="display: inline-block;font-weight: 600;">Quantity：</label>
                                                {{ booking.quantity }}
                                            </div>
                                            <div class="col-md-6" style="margin-bottom:25px">
                                                <label class="text" style="display: inline-block;font-weight: 600;">BankName：</label>
                                                {{ booking.bankname|default_if_none:"" }}
                                            </div>
                                            <div class="col-md-6" style="margin-bottom:25px">
                                                <label class="text" style="display: inline-block;font-weight: 600;">Card Number：</label>
                                                {{ booking.banknum|default_if_none:"" }}
                                            </div>
                                            <div class="col-md-6" style="margin-bottom:25px">
                                                <label class="text" style="display: inline-block;font-weight: 600;">Order Status：</label>
                                                {% if booking.payment_status == 'pending' %}
                                                        Pending
                                                 {% elif booking.payment_status == 'paid' %}
                                                        Paid
                                                 {% elif booking.payment_status == 'failed' %}
                                                     Failed
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6" style="margin-bottom:25px">
                                                <label class="text" style="display: inline-block;font-weight: 600;">BookingDate：</label>
                                                {{ booking.booking_date }}
                                            </div>
                                            <div class="col-md-6" style="margin-bottom:25px">
                                                <label class="text" style="display: inline-block;font-weight: 600;">PerformTime：</label>
                                                {{ ticket.startTime}} ~ {{ ticket.endTime }}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">PaymentStatus</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">BookingDate</th>
                                                <th scope="col">UsageStatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if bookings %}
                                                {% for obj in bookings %}
                                                    <tr>
                                                        <td>{{ obj.ticket.name }}</td>
                                                        <td>
                                                             {% if obj.booking.payment_status == 'pending' %}
                                                                    Pending
                                                             {% elif obj.booking.payment_status == 'paid' %}
                                                                    Paid
                                                             {% elif obj.booking.payment_status == 'failed' %}
                                                                 Failed
                                                            {% endif %}
                                                        </td>
                                                        <td>￥{{ obj.booking.total_price }}</td>
                                
                                                        <td>{{ obj.booking.booking_date }}</td>
                                                        <td>
                                                            {% if obj.booking.is_used %}
                                                                    Used
                                                             {% else %}
                                                                    To be used
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr><td colspan="6">No data available</td><tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../common/footer.html' %}
</body>
<script>
    pathname = "/booking/list";
</script>
</html>