<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>【ProductDetails】livehouse Booking System</title>
    {% include '../common/css.html' %}
    {% include '../common/js.html' %}
    <style type="text/css">
        .progress .bar {
            float: left;
            width: 0;
            height: 100%;
            font-size: 12px;
            color: #fff;
            text-align: center;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
            background-color: #faa732;
            background-image: -moz-linear-gradient(top, #149bdf, #0480be);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
            background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
            background-image: -o-linear-gradient(top, #149bdf, #0480be);
            background-image: linear-gradient(to bottom, #faa732, #faa732);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
            -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
            -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: width .6s ease;
            -moz-transition: width .6s ease;
            -o-transition: width .6s ease;
            transition: width .6s ease;
        }
    </style>
</head>
<body class="productsgrid-page">
    {% include '../common/header.html' %}
    {% include '../common/banner2.html' %}
    <section>
        <div class="container">
            <div class="row mb-n4">
                <div class="col-12">
                    <section class="section-title">
                        <h3 class="title">Surrounding Products</h3>
                    </section>
                </div>
                <div class="col-lg-3" style="margin-right:20px">
                    <div class="modal-gallery-slider">
                        <div class="gallery">
                            <div class="">
                                <div class="">
                                    <div class="" style="max-width: 300px;overflow: hidden;">
                                        <img src="{{ product.image.url }}"
                                            title="{{ product.productname }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mb-4">
                    <div class="modal-product-des">
                        <h3 class="modal-product-title">
                            <a href="javascript:void(null)">{{ product.productname }}</a>
                        </h3>
                        <div class="product-add-to-cart">
                            <span class="control-label">Type：{{ product.typeid.typename }}</span>
                            <span class="control-label">Price：￥{{ product.price }}</span>
                            <span class="control-label">Createtime：{{ product.createtime }}</span>
                            <div class="product-variants" style="margin-bottom:0px">
                                <div class="product-variants-item">
                                    <span class="control-label">CollectionCount：{{ collectionCount.count|default_if_none:0 }}</span>
                                </div>
                                <div class="product-variants-item">
                                    <span class="control-label">PurchaseQuantity：{{ orderitemCount.sum|default_if_none:0 }}</span>
                                </div>
                            </div>
                            <div class="product-add-to-card">
                                {% if not collection %}
                                    <a class="product-add-to-card-item" href="javascript:doCollect({{ product.id }})"><i
                                        class="ion-ios-heart-outline"></i>AddCollection</a>
                                {% else %}
                                    <a class="product-add-to-card-item" href="javascript:doCollect({{ product.id }})"><i
                                        class="ion-ios-heart"></i>RemoveCollection</a>
                                {% endif %}
                                <a class="product-add-to-card-item" href="javascript:void(null)">
                                    Score：<div id="star" style="display: inline-block"></div>
                                </a>
                            </div>
                            <div class="product-add-to-cart">
                                <div class="product-count style d-flex my-4">
                                    <div class="count d-flex itemCountTemp">
{#                                        <form action="/perform/booking/confirm" method="post" id="form4" class="row" style="">#}
                                        <form action="/order/confirm" method="post" id="form4" class="row" style="">
                                            {% csrf_token %}
                                            <input type="hidden" name="productid" value="{{ product.id }}" />
                                            <input type="number" id="count" name="count" min="1" max="100" step="1" value="1" readonly="readonly">
                                        </form>
                                        <div class="button-group">
                                            <button class="count-btn increment">
                                                <span class="ion-chevron-up"></span>
                                            </button>
                                            <button class="count-btn decrement">
                                                <span class="ion-chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn btn-dark-ex addCart" data-itemid="{{ product.id }}">Add to Cart</button>
                                        <button class="btn btn-dark-ext" onclick="buy()">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="text-align: left;float:none;display:inline-block;width:30%;
                    border-left: 1px solid #d4d4d4;color:#444;padding-left:25px;padding-top:0px;height:auto">
                    <div style="margin-bottom:15px;font-size: 20px;font-weight: 500;color:#444">Scoring analysis</div>
                    <div class="score" style="display: inline-block;margin-bottom:15px;color:#444">
                        Average score：<div id="star2" style="display: inline-block"></div>
                        &nbsp;{{ scoreAnalysis.avgScore }}/5.0
                    </div>
                    <div style="margin-bottom:15px;color: #444;">Total: {{ scoreAnalysis.scoreCount }} user scored</div>
                    {% for curScoreAnalysis in scoreAnalysis.curScoreAnalysisList %}
                        <div>
                            <div style="display: inline-block;">{{ curScoreAnalysis.curScore }}star&nbsp;&nbsp;</div>
                            <div class="progress progress-info"
                                style="display: inline-block;width:62%;margin-bottom: 0px;height: 20px;">
                                <div class="bar" style="width: {{ curScoreAnalysis.percent }}%;"></div>
                            </div>
                            <div style="display: inline-block;">&nbsp;&nbsp;{{ curScoreAnalysis.percent }}%</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section style="padding: 40px 0;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="section-title">
                        <h3 class="title">Graphic details</h3>
                    </section>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show">
                    <div class="row">
                        <div class="col-12">
                            <div class="single-product-desc">
                                {% autoescape off %}<p>{{ product.content }}</p>{% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="section-title">
                        <h3 class="title">Recommended</h3>
                    </section>
                </div>
                <div class="col-12">
                    <div class="tab-content">
                        <div class="tab-pane show active">
                            <div class="row grid-view mb-n5">
                                {% if relateProducts %}
                                    {% for relateProduct in relateProducts %}
                                        <div class="col-sm-6 col-md-4 col-lg-3 mb-5" style="width:20%">
                                            <div class="product-card">
                                                <a href="/product/detail?productid={{ relateProduct.id }}" title="{{ relateProduct.productname }}"
                                                    class="product-thumb" style="height:204px;overflow: hidden">
                                                    <img src="{{ relateProduct.image.url }}"
                                                        alt="{{ relateProduct.productname }}" style="">
                                                </a>
                                                <div class="product-content">
                                                    <h4>
                                                        <a href="/product/detail?productid={{ relateProduct.id }}" title="{{ relateProduct.productname }}"
                                                            class="product-title">
                                                            {% if relateProduct.productname|length > 8 %}
                                                                {{ relateProduct.productname|slice:'8' }}...
                                                            {% else %} {{ relateProduct.productname }} {% endif %}
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    No data available
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section style="padding: 40px 0 0px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="section-title">
                        <h3 class="title">Product Comments</h3>
                    </section>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show">
                    <div class="single-product-desc">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="review-wrapper">
                                    {% if pageBean %}
                                        {% for comment in pageBean %}
                                            <div class="single-review">
                                                <div class="review-img">
                                                    <img src="{{ comment.userid.header.url }}"
                                                        alt="{{ comment.userid.username }}">
                                                </div>
                                                <div class="review-content">
                                                    <div class="review-top-wrap">
                                                        <div class="review-left">
                                                            <div class="review-name">
                                                                <h4>{{ comment.userid.username }}</h4>
                                                            </div>
                                                            <div class="rating-product">
                                                                {{ comment.createtime }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="review-bottom">
                                                        <p style="max-width: 100%;word-wrap: break-word; word-break: break-all;">{{ comment.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        No data available
                                    {% endif %}
                                </div>
                                <form action="/product/detail" method="post" id="form">
                                    {% csrf_token %}
                                    <input type="hidden" name="page" value="{{ pageBean.page }}" id="page">
                                    <input type="hidden" name="productid" value="{{ product.id }}">
                                </form>
                                {% include '../common/page.html' %}
                            </div>
                            <div class="col-lg-5">
                                <div class="ratting-form-wrapper">
                                    <h3>Add a comment</h3>
                                    <div class="ratting-form">
                                        <form action="#">
                                            <div class="star-box"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="rating-form-style form-submit">
                                                        <textarea name="comment" id="comment" placeholder="Please enter a comment..." maxlength="255"></textarea>
                                                        <button type="button" onclick="doComment()" class="btn btn-dark-ex">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include '../common/footer.html' %}
</body>
<script src="{% static 'js/jquery.raty.min.js' %}"></script>
<script type="text/javascript">
    //buy
    function buy(){
        if(!doIsLogin())
            return;
        $("#form4").submit();
    }

    //score
    $('#star').raty(
        {
            score:parseFloat("{{ scorerecord.score }}"),
            halfShow:true,
            readOnly:false,
            path: '/static/images',
            hints: ['1score', '2score', '3score', '4score', '5score'],
            click: function(score, evt) {
                var data = "productid={{ product.id }}"+"&score="+score+"&csrfmiddlewaretoken={{ csrf_token }}";
                if(doIsLogin()){
                    common_ajax_other("/scorerecord/doScorerecord",data);
                }
            }
        }
    );

    //Scoring analysis
    $('#star2').raty(
        {
            score:parseFloat("{{ scoreAnalysis.avgScore }}"),
            halfShow:true,
            readOnly: true,
            path: '/static/images',
            hints: ['1score', '2score', '3score', '4score', '5score'],
        }
    );

    //Add or remove Collection
    function doCollect(productid){
        if(doIsLogin()){
            var data = "productid={{ product.id }}"+"&csrfmiddlewaretoken={{ csrf_token }}";
            common_ajax_other("/collection/doCollection",data);
        }
    }
    //Comment
    function doComment(){
        var comment = $("#comment").val();
        if(comment==null || comment==""){
            layer.msg("Comments cannot be empty！");
            return false;
        }
        if(doIsLogin()){
            var data = "productid={{ product.id }}"+"&content="+comment+"&csrfmiddlewaretoken={{ csrf_token }}";
            common_ajax_other("/comment/doComment",data);
        }
    }
</script>
<script>
    //Quantity Purchased
    $(".itemCountTemp").each(function() {
        var g = $(this),
        j = g.find('input[type="number"]'),
        f = g.find(".increment"),
        k = g.find(".decrement"),
        l = j.attr("min"),
        h = j.attr("max");
        f.on("click",function() {
            var i = parseFloat(j.val());
            i = h <= i ? i: i + 1,
            g.find('input[type="number"]').val(i),
            g.find('input[type="number"]').trigger("change")
        }),
        k.on("click",function() {
            var i = parseFloat(j.val());
            i = i <= l ? i: i - 1,
            g.find('input[type="number"]').val(i),
            g.find('input[type="number"]').trigger("change")
        });
    });
</script>
</html>