{% load static %}
<header>
	<div class=" d-none d-lg-block active-sticky pt-2">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-6 col-lg-3" style="width:31%">
                    <div class="text-center d-flex justify-content-center align-items-center">
                        <img style="width: 40px;height: 40px;margin-right: 10px" src="{% static 'images/logo.png' %}" alt="Livehouse Booking System"/>
{#                                                <h3>Livehouse Booking System</h3>#}
                        <a href="/"
						style="color:inherit;font-size:28px" title="Livehouse Booking System">Livehouse Booking System</a>
                    </div>

				</div>
				<div class="col-6 col-lg-6 text-center" style="width:42%">
					<div class="blog-serch-form">
						<form action="/product/list" method="post">
                            {% csrf_token %}
							<input class="form-control" type="text" id="keyword" name="keyword" value="{{ keyword }}"
								placeholder="Please enter the name of surrounding product..." maxlength="220" >
							<button class="form-search-btn" type="submit" title="search">
								<span class="ion-ios-search-strong"></span>
							</button>
						</form>
					</div>
				</div>
				<div class="col-6 col-lg-3" align="center">
					<ul class="" style="font-size: 1rem;">
                        {% if not request.session.session_user_isLogin %}
							<li class="quick-link-item" style="display:inline-block;">
								<a href="/login" style="color: inherit;">Login</a>
							</li>
							<li class="quick-link-item" style="display:inline-block;">
								<a href="/register" style="color: inherit;">Register</a>
							</li>
                            <li class="quick-link-item" style="display:inline-block;">
								<a href="/admin" target="_blank" style="color: inherit;">Admin</a>
							</li>
						{% else %}
							<li class="quick-link-item main-menu-item" style="display:inline-block;">
								<a href="javascript:void(0)" style="color: inherit;height:44px;line-height:44px;font-size: 1rem;"
									class="dungar-menu-item-title topbar-nav-link"
									title="{{ request.session.session_user_username }}">
					                   	User：{% if request.session.session_user_username|length > 10 %}
                                                {{ request.session.session_user_username|slice:'10' }}...
                                            {% else %} {{ request.session.session_user_username }} {% endif %}
								</a>
								<ul class="sub-menu" style="font-size: 14px;text-align: left;">
									<li class="sub-menu-item">
										<a href="/logout" class="sub-menu-link">Logout</a>
									</li>
								</ul>
							</li>
						{% endif %}
					</ul>
				</div>

			</div>
		</div>
        <div class="col-24 col-lg-24 layui-bg-green" style="margin-top:10px">
            <ul class="layui-nav  layui-bg-green container" id="layui-nav">
              <li class="layui-nav-item"><a href="/" style="font-size: 18px">PerformHome</a></li>
              <li class="layui-nav-item"><a href="/perform/ambitus" style="font-size: 18px">SurroundingProduct</a></li>
{#              <li class="layui-nav-item"><a href="/stylebias">VisualisationCharts</a></li>#}
              <li class="layui-nav-item"><a href="/order/list" style="font-size: 18px">MyOrder</a></li>
              <li class="layui-nav-item"><a href="/cart/list" style="font-size: 18px">Cart</a></li>
              <li class="layui-nav-item"><a href="/user/detail" style="font-size: 18px">PersonalInfo</a></li>
              <li class="layui-nav-item"><a href="/perform/interaction" style="font-size: 18px">Interaction</a></li>
              <li class="layui-nav-item"><a href="/notice/list" style="font-size: 18px">Notice</a></li>

            </ul>
        </div>
        <script>
            $(document).ready(function () {
                let pathname = window.location.pathname
                $("#layui-nav").find("li").each(function(){
                    if($(this).find("a").attr("href")=== pathname){
                        $(this).addClass("layui-this");
                    }
                });
            })
        </script>
	</div>
</header>
