<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>【ConfirmBooking】livehouse Booking System</title>
    {% include '../common/css.html' %}
    {% include '../common/js.html' %}
</head>
<body class="productsgrid-page">
    {% include '../common/header.html' %}
    {% include '../common/banner2.html' %}
    <div class="whish-list-section section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="section-title">
                        <h3 class="title" style="border-bottom:0">Confirm Order</h3>
                    </section>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" scope="col">No.</th>
                                    <th class="text-center" scope="col" colspan="2" style="width:40%">Product Name</th>
                                    <th class="text-center" scope="col">Price</th>
                                    <th class="text-center" scope="col">Quantity</th>
                                    <th class="text-center" scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if carts %}
                                    {% for cart in carts %}
                                        <tr>
                                            <td class="text-center"><span class="whish-list-price">{{ forloop.counter }}</span></td>
                                            <td class="text-center" scope="row">
                                                <a href="/product/detail?productid={{ cart.productid.id }}"
                                                    title="{{ cart.productid.productname }}">
                                                    <img src="{{ cart.productid.image.url }}"
                                                        alt="{{ cart.productid.productname }}" style="height:100px;overflow: hidden">
                                                </a>
                                            </td>
                                            <td class="">
                                                <a href="/product/detail?productid={{ cart.productid.id }}"
                                                    title="{{ cart.productid.productname }}" style="color: inherit;">
                                                        {{ cart.productid.productname }}
                                                </a>
                                            </td>
                                            <td class="text-center"><span class="whish-list-price">￥{{ cart.productid.price }}</span></td>
                                            <td class="text-center">
                                                <span class="whish-list-price">
                                                    {{ cart.count }}
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <span class="whish-list-price" name="productTotal"
                                                    data-total="{%  widthratio cart.productid.price 1 cart.count %}" >
                                                    ￥{%  widthratio cart.productid.price 1 cart.count %}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="6">No data available</td><tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="check-out-section section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="billing-info-wrap">
                        <form class="personal-information" action="/order/add" method="post" id="form3">
                            {% csrf_token %}
                            <input type="hidden" name="paramFlag" value="{{ paramFlag }}" />
                            {% if not paramFlag %}
                                {% for cart in carts %}
                                    <input type="hidden" name="productid" value="{{ cart.productid.id }}" />
                                    <input type="hidden" name="count" value="{{ cart.count }}" />
                                {% endfor %}
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="coupon-title">Delivery Address</h3>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info">
                                        <input type="text" id="address" maxlength="250" name="address" class="form-control" placeholder="Please enter the delivery address...">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h3 class="coupon-title">Phone Number</h3>
                                </div>
                                <div class="col-12">
                                    <div class="billing-info">
                                        <input type="text" id="phone" name="phone" class="form-control" maxlength="15"
                                            oninput = "value=value.replace(/[^\d]/g,'')" placeholder="Please enter your phone number...">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mt-4 mt-lg-0">
                    <div class="your-order-area">
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-product-info">
                                <div class="billing-info-wrap">
                                    <h3 class="title">Confirm Order</h3>
                                </div>
                                <div class="your-order-top">
                                    <ul>
                                        <li>Quantity：</li>
                                        <li>{{ carts|length }}</li>
                                    </ul>
                                </div>
                                <div class="your-order-bottom">
                                    <ul>
                                        <li class="your-order-shipping">CartTotal：</li>
                                        <li class="your-order-shipping" id="cartTotal">￥0</li>
                                    </ul>
                                </div>
                                <div class="Place-order" style="">
                                    <a class="btn btn-dark-ex me-3" href="javascript:submitOrder()">
                                        &nbsp;&nbsp;SubmitOrder&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../common/footer.html' %}
</body>
<script type="text/javascript">
    //cartTotal
    $(document).ready(function(){
        var cartTotal = 0
        $('span[name="productTotal"]').each(function () {
            cartTotal+=parseFloat($(this).attr("data-total").replace(",",""));
        });
        $("#cartTotal").text("￥"+cartTotal.toFixed(2));
    });
    //submitOrder
    function submitOrder(){
        var temp = true;
        $("#form3").find("input[type='text']").each(function(){
            if($(this).val()==null || $(this).val()==""){
                temp = false;
                return false;
            }
        });
        if(!temp){
            layer.msg("Data cannot be empty!");return false;
        }
        $("#form3").submit();
    }
</script>
</html>