<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>【MyOrders】livehouse Booking System</title>
    {% include '../common/css.html' %}
    {% include '../common/js.html' %}
</head>
<body class="productsgrid-page">
    {% include '../common/header.html' %}
    {% include '../common/banner2.html' %}
    <div class="whish-list-section section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="section-title">
                        <h3 class="title" style="border-bottom:0">Personal Information Centre</h3>
                    </section>
                </div>
                {% include '../common/menu.html' %}
                <div class="col-lg-9 col-12 mb-5">
                    <div class="tab-content">
                        <div class="tab-pane fade active show">
                            <div class="myaccount-content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" style="background-color: #16BAAA">OrderNo.</th>
                                                <th scope="col" style="background-color: #16BAAA">Price</th>
                                                <th scope="col" style="background-color: #16BAAA">Status</th>
                                                <th scope="col" style="background-color: #16BAAA">CreateTime</th>
                                                <th scope="col" style="background-color: #16BAAA">Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if pageBean %}
                                                {% for order in pageBean %}
                                                    <tr>
                                                        <td>{{ order.id }}</td>
                                                        <td>￥{{ order.totalprice }}</td>
                                                        <td>
                                                            {% for key,value in shareOrderStateParamsDic.items %}
                                                                {% if key == order.state %}
                                                                    {{ value }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>{{ order.createtime }}</td>
                                                        <td>
                                                            <a href="/orderitem/list?orderid={{ order.id }}" title="Detail">
                                                                <span class="trash"><i class="icon ion-ios-information"></i></span>
                                                            </a>
                                                            {% if order.state == 1 %}
                                                                &nbsp;&nbsp;
                                                                <a href="javascript:deleteOrder({{ order.id }})" title="Delete">
                                                                    <span class="trash"><i class="ion-android-delete"></i></span>
                                                                </a>
                                                                &nbsp;&nbsp;
                                                                <a href="/order/pay?orderid={{ order.id }}">
                                                                    Pay
                                                                </a>
                                                            {% endif %}
                                                            {% if order.state == 3 %}
                                                                &nbsp;&nbsp;
                                                                <a href="javascript:doReceive({{ order.id }})">
                                                                            Receive
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr><td colspan="5">No data available</td><tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <form action="/order/list" method="post" id="form">
                                        {% csrf_token %}
                                        <input type="hidden" name="page" value="{{ page }}" id="page"/>
                                    </form>
                                    {% include '../common/page.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../common/footer.html' %}
</body>
<script>
    //deleteOrder
    function deleteOrder(orderid){
        layer.confirm("Confirm Delete？",{icon:7,title:"Delete"},function(index){
            layer.close(index);
            common_ajax_other("/order/delete","orderid="+orderid+"&csrfmiddlewaretoken={{ csrf_token }}");
        });
    }
    //Receive
    function doReceive(orderid){
        layer.confirm("Confirm receipt of goods？",{icon:1,title:"Receive"},function(index){
           layer.close(index);
           common_ajax_other("/order/receive","orderid="+orderid+"&csrfmiddlewaretoken={{ csrf_token }}");
       });
    }
</script>
</html>